
  .navbar{
    background: url('assets/preboobg.png');
   /*#330000*/
  
  }
  .nav-link{
    margin: 2%;
   
  }
  .nav-item{
    border:1px solid;
    border-radius: 25px;
    background:orange;
  margin:1%;
  }
 
 

 .speech{

margin:1%;
  display: inline-block;
  position: relative;

  font-size: 1.1em;
  background:rgb(209, 73, 73);
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  

  
}


.speech:after {
content: ' ';
-webkit-transform: scaleX(-1);
transform: scaleX(-1); 
position: absolute;
width: 0;
height: 0;
left: -20px;
right: auto;
top: 100px;
bottom: auto;
border: 12px solid;
border-color: rgb(209, 73, 73) transparent transparent rgb(209, 73, 73);
}





.speech1{

  
  position: relative;

  
  font-size: 1.1em;
  background: rgb(209, 73, 73);
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
 
}

.d{

color: black;
}

.l{

text-align: center;
font-size: 26px;
color: #fff;
}



.modal-title{

text-align: center;
}

.h{

  font-size: 40px;
  color: red;
}


  